<div class="container">

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
  
        <%= gravatar_for @user %>
  
        <%= @user.name %>
  
      </h1>
    </section>
    
    <p>
      <h4><span class="label label-success">Profile</span></h4>
      <%= @user.profile %>
    </p>
    
    <p>
      <h4><span class="label label-success">Email</span></h4>
      <%= @user.email %>
    </p>
    
    
    <p>
      <h4><span class="label label-success">Location</span></h4>
      <%= @user.location %>
    </p>
    
    </br>
    
    <p>
      <button type="button" class="btn btn-default">
        <%= link_to 'プロフィール編集', edit_user_path(@user) %>            
      </button>
    </p>
    
    </br>
    
    <p>
      <button type="button" class="btn btn-default">
        <%= link_to 'フォローしている', followings_user_path(@user) %>
      </button>
    </p>
    
    </br>
    
    <p>
      <button type="button" class="btn btn-default">
        <%= link_to 'フォローされている', followers_user_path(@user) %>            
      </button>
    </p>
    
  </aside>
  
  <div class="col-md-8">
  
    <%= render 'follow_form' if logged_in? %>
    
    <% if @user.microposts.any? %>
    
      <h3>Microposts(
      <%= @user.microposts.count %>
      )</h3>
      <%= page_entries_info @microposts_items %><p></p>
      <ol class="microposts">
        
        <%= render @microposts %>
        
      </ol>
      <%= paginate @microposts_items %>
    <% end %>
    
  </div>
</div>

</div>